.registerContent{
    width: 100%;
    padding: 2rem;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
html,body{
    height: 100%;
}
select{
    display: inline;
    width: fit-content;
    background-color: transparent;
    border: none;
    color: var(--primary-orange);
    outline: none;
    font-size: 1.3rem;
}
label,label h3{
    display: inline;
    width: fit-content;
    font-size: 1.3rem;
}
input{
    background-color: transparent;
    color-scheme: dark;
    color: White;
    border: none;
    /* box-shadow: none; */
    /* shape-outside: none; */
    outline: none;
    border-bottom: 1px solid var(--primary-orange);
    width: 100%;
    font-size: 1.3rem;
    -webkit-appearance: none;
}

input::placeholder{
    color: var(--primary-orange);
    font-weight: 100;
    font-family: "cocogoose";
}
input::content{
    color: red;
}
/* input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border: none;
    background-color: transparent;
    outline: none;
    transition: background-color 500000s ease-in-out 0s;
} */

#registerForm{
    /* z-index: 6; */
    display: grid;
    /* grid-template-rows: repeat(6, 2rem [col-start]); */
    grid-template-rows: 2fr 2fr 2fr 2fr 2fr 2fr;
    grid-template-columns: 25rem;
}

#fSubmitButton{
    color: white;
    background-color: var(--primary-orange);
}

@media screen and (max-width: 768px) {
    input{
        width: 100%;
        font-size: 1.5rem;
    }
    select,label{
        font-size: 1.5rem;
    }

}
